{% extends 'layoutAdmin.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/information.css">
{% endblock %}

{% block title %}
	Admin - Ajouter une information
{% endblock %}

{% block content %}

	<main class="m-infos py-lg-5 px-lg-5 py-3 px-3 d-flex justify-content-center flex-column">

		<header class="admin-header d-flex justify-content-lg-between flex-lg-row align-items-lg-center flex-column px-lg-5 mb-lg-5 mb-3">
			<h1 class="text-center h1">Ajouter une information</h1>
			<a href="/adminInformation/index" class="btn btn-primary mt-3 mt-lg-0">Gérer les informations</a>
		</header>

		{% include 'Admin/Information/_form.html.twig' %}

	</main>

{% endblock %}
