{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/information.css">
{% endblock %}

{% block title %}
	Admin - Information
{% endblock %}

{% block content %}
	<main class="container m-board py-lg-5 px-lg-5 py-3 px-3">

		<header class="admin-header d-flex justify-content-lg-between flex-lg-row align-items-lg-center flex-column px-lg-5 mb-lg-5 mb-3">
			<h1 class="text-center h1">Gérer les information</h1>
			<a href="/adminInformation/add" class="btn btn-primary mt-3 mt-lg-0">Ajouter une information</a>
		</header>

		<table class="table table-hover bg-light">
			<thead>
				<tr>
					<th class="text-center">DATE</th>
					<th class="text-center">INFORMATION</th>
				</tr>
			</thead>
			<tbody>
				{% for information in informations %}
					<tr>
						<td class="text-center">{{ information.date }}</td>
						<td class="text-left">{{ information.content }}</td>
                        <td class='d-flex'>
							<a class="btn btn-primary me-1 w-25" href="/adminInformation/edit/{{ information.id }}">Modifier</a>
							<form method="POST" onSubmit="return confirm('Voulez vous supprimer ?');" action="/adminInformation/delete/{{information.id}}">
								<button class="btn btn-danger ms-1 w-100">Supprimer</button>
							</form>
						</td>
                    </tr>
				{% else %}
					<li>Nothing to display</li>
				{% endfor %}
			</tbody>
		</table>

		<footer class="admin-footer d-flex justify-content-center flex-md-row flex-column mt-lg-5 mt-3">
			<a href="#" class="btn btn-primary btn-lg mx-1 my-1">Retour au site principal</a>
			<a href="#" class="btn btn-primary btn-lg mx-1 my-1">Accueil Admin</a>
		</footer>
	</main>
{% endblock %}
