<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav justify-content-around w-75">
			<a class="nav-link" href="#">ACCUEIL ADMIN</a>
			<a class="nav-link" href="#">ACTIVITES</a>
			<a class="nav-link" href="#">EVENEMENTS</a>
			<a class="nav-link" href="#">CONSEIL D'ADMINISTRATION</a>
			<a class="nav-link" href="#">INFORMATIONS</a>
      </div>
    </div>
  </div>
</nav>