{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/board.css">
{% endblock %}

{% block title %}
	Admin - Conseil d'administration
{% endblock %}

{% block content %}
	<main class="m-board">

		<header class="admin-header">
			<h1 class="text-center">Gérer le Conseil d'administration</h1>
			<a href="#" class="btn btn-primary">Ajouter un membre</a>
		</header>

		<div class="row row-cols-1 row-cols-md-5 g-4">
			{% for boardMember in boardMembers %}
				<div class="col">
					<div class="card">
						<img src={{ boardMember.image }} class="card-img-top" alt="photo portrait">
						<div class="card-body">
							<h5 class="card-title">{{ boardMember.firstname }}
								{{ boardMember.surname }}</h5>
							<p class="card-text">{{ boardMember.role }}</p>
						</div>
						<div class="links">
							<a href="#" class="btn btn-primary">Modifier</a>
							<a href="#" class="btn btn-danger">Supprimer</a>
						</div>
					</div>
				</div>
			{% else %}
				<li>Nothing to display</li>
			{% endfor %}
		</div>

		<footer class="admin-footer d-flex justify-content-center flex-md-row flex-column">
			<a href="#" class="btn btn-primary btn-lg mx-1 my-1">Retour au site principal</a>
			<a href="#" class="btn btn-primary btn-lg mx-1 my-1">Accueil Admin</a>
		</footer>

	</main>
{% endblock %}
