{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/board.css">
{% endblock %}

{% block title %}
	Admin - Ajouter un membre au CA
{% endblock %}

{% block content %}

	<main class="d-flex justify-content-center flex-column">

		<header class="admin-header">
			<h1 class="text-center">Ajouter un membre au CA</h1>
			<a href="/adminBoard/index" class="btn btn-primary">Gérer conseil d'administration</a>
		</header>

		{% include 'Admin/Board/_form.html.twig' %}

	</main>

{% endblock %}
