{% extends 'layoutAdmin.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}

{% block title %}
	Admin - Editer
	{{ boardMember.firstname }}
	{{ boardMember.surname }}
{% endblock %}

{% block content %}

	<main class="m-board py-lg-5 px-lg-5 py-3 px-3 d-flex justify-content-center flex-column">

		<header class="admin-header d-flex justify-content-lg-between flex-lg-row align-items-lg-center flex-column px-lg-5 mb-lg-5 mb-3">
			<h1 class="text-center h1">Éditer un membre du CA</h1>
			<a href="/adminBoard/index" class="btn btn-primary mt-3 mt-lg-0">Gérer conseil d'administration</a>
		</header>

		{% include 'Admin/Board/_form.html.twig' with {buttonName: 'Modifier ce membre'} %}


	</main>

{% endblock %}
