{% extends 'layout.html.twig' %}

{% block stylesheet %}

<link rel="stylesheet" href='/assets/css/?.css'>

{% endblock %}

{% block content %}
<header>
    <h1> Temps des loisirs auprès de vous!</h1>
</header>

{% endblock %}
