{% extends "layout.html.twig" %}


{% block title %}Accueil | Le temps des loisirs{% endblock %}


{% block content %}
	<header class="container">
		<h1>Le temps des Loisirs</h1>
		<h2>Votre club de loisirs à Saint-Cyr-en-Val</h2>

	</header>

{% endblock %}

