{% extends 'layout.html.twig' %}
{% block title %}Admin - Ajouter un évènement
{% endblock %}
{% block stylesheet %}

	<link rel="stylesheet" href="/assets/css/adminEvents.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
{% endblock %}
{% block content %}
<main class="py-lg-5 px-lg-5 py-3 px-3">
	<div class="container">
		<div class="eventSection">
			<header class="eventTitle d-flex justify-content-lg-between flex-lg-row align-items-lg-center flex-column px-lg-5 mb-lg-5 mb-3">
				<h1>Ajouter un Évènement</h1>
				<a class="btn btn-primary mt-3" href="/AdminEvent/index" role="button">Gérer les évènements</a>
			</header>

			<form action="" method="POST">
				<div class="mb-3">
					<label for="name" class="form-label">Nom d'évènement</label>
					<input type="text" class="form-control" id="name" placeholder="Ex: Voyage à Nice" required>
				</div>

				<div class="mb-3">
					<label for="startdate" class="form-label">Date de début</label>
					<input type="date" class="form-control" id="startdate" required>
				</div>

				<div class="mb-3">
					<label for="enddate" class="form-label">Date de fin</label>
					<input type="date" class="form-control" id="enddate">
				</div>

				<div class="mb-3">
					<label for="price" class="form-label">Prix</label>
					<input type="number" class="form-control" id="price" min="0">
				</div>


				<div class="mb-3">
					<label for="photo" class="form-label">Lien pour l'image</label>
					<input type="text" class="form-control" id="photo">
				</div>


				<div class="mb-3">
					<label for="description" class="form-label">Description d'évènement</label>
					<textarea class="form-control" id="description" rows="3"></textarea>
				</div>

				<div class="col-12">
					<button class="btn btn-primary btn-lg mx-1 my-1" type="submit">Envoyer</button>
				</div>

			</form>
			<footer class="admin-footer d-flex justify-content-center flex-md-row flex-column mt-lg-5 mt-2">
				<a class="btn btn-primary btn-lg mx-1 my-1" href="#">Retour au site principal</a>
				<a class="btn btn-primary btn-lg mx-1 my-1" href="#">Accueil Admin</a>
			</footer>
		</div>
	</div>
</main>
{% endblock %}
