{% extends 'layout.html.twig' %}
{% block title %}Admin - Ajouter un évènement
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/adminEvents.css">
	<link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}
{% block content %}

	{% include 'Components/_navbarAdmin.html.twig' %}

	<main class="py-lg-5 px-lg-5 py-3 px-3">
		<div class="container">
			<div class="eventSection">
				<div class="eventTitle d-flex justify-content-lg-between flex-lg-row align-items-lg-center flex-column px-lg-5 mb-lg-5 mb-3">
					<h1>Ajouter un Évènement</h1>
					<a class="btn btn-primary mt-3" href="/AdminEvent/index" role="button">Gérer les évènements</a>
				</div>

				{% include '/Admin/Event/_form.html.twig' %}

				<div class="admin-footer d-flex justify-content-center flex-md-row flex-column mt-lg-5 mt-2">
					<a class="btn btn-primary btn-lg mx-1 my-1" href="#">Retour au site principal</a>
					<a class="btn btn-primary btn-lg mx-1 my-1" href="#">Accueil Admin</a>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
