{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin - Ajouter un évènement
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/adminEvents.css">
	<link rel="stylesheet" href="/assets/css/admin.css">
	{% endblock %}
{% block content %}
<main class="py-lg-5 px-lg-5 py-3 px-3">
	<div class="container">
		<div class="eventSection">
			<div class="eventTitle d-flex justify-content-lg-between flex-lg-row align-items-lg-center flex-column px-lg-5 mb-lg-5 mb-3">
				<h1>Ajouter un Évènement</h1>
				<a class="btn btn-primary mt-3" href="/AdminEvent/index" role="button">Gérer les évènements</a>
			</div>
				
			{% include '/Admin/Event/_form.html.twig' %}
			
		</div>
	</div>
</main>
{% endblock %}
