.h1 {
    margin: 0;
    padding: 0;
    font-family: var(--title-font);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

h2, h3{
    color: var(--primary-color);
}

.list-group-item, .list-group-item-action, .list-group-item.active {
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-weight: 650;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

.list-group-item:hover, .list-group-item-action:hover{
    filter: brightness(110%);
}

.btn-primary:active {
    filter: brightness(90%);
}

.card-img-top{
    height: auto;
    width: 150px;
}

.activity-time{
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}