.h1 {
    margin: 0;
    padding: 0;
    font-family: var(--title-font);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

h2, h3{
    color: var(--primary-color);
}

.btn, .btn-primary, .btn:hover, .btn-primary:hover, .btn:active, .btn-primary:active  {
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-weight: 650;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

.btn:hover, .btn-primary:hover{
    filter: brightness(110%);
}

.btn:active, .btn-primary:active {
    filter: brightness(90%);
}

.card-img-top{
    width: 150px;
    height: 125px;
    object-fit: cover;
}

.activity-time{
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 5px;
}

.activity-time img {
    filter: contrast(160%);
}
