@import 'style.css';
/* Admin Header */

.admin-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

/* Style h1 */

h1 {
    margin: 0;
    padding: 0;
    font-family: var(--title-font);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    font-size: var(--title-size);
}

/* Card Image style */

.card-img-top {
    object-fit: cover;
    height: 300px;
}

/* Texte d'information cards */

.card-body .card-text {
    font-weight: 650;
    color: var(--dark-color);
}

/* Div cards buttons */

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.8em 1em 0.8em;
}

.links a {
    width: 50%;
    margin: 0 0.2em;
}

/* Titre cards */

.card-body h5 {
    color: var(--primary-color);
}

/* Bouton primaire turquoise */

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-weight: 650;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

/* Bouton delete */

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    background-color: var(--danger-color);
    color: var(--light-color);
    font-weight: 650;
    border: 2px solid var(--danger-color);
    border-radius: 5px;
}

/* Hover all buttons */

.btn-primary:hover {
    filter: brightness(110%);
}

.btn-primary:active {
    filter: brightness(90%);
}

.btn-danger:hover {
    filter: brightness(110%);
}

.btn-danger:active {
    filter: brightness(90%);
}

/* Footer pages admin */

.admin-footer {
    margin-top: calc(var(--third-spacing) * 2);
}