
footer{
    display: flex;
    justify-content: end;
    align-items: center;
}

section, .to-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.to-section p{
    text-align:center;
    font-size: 0.8rem;
}

.btn{
    width: 75%;
}