@import 'style.css';

/* Style h1 */

.h1 {
    margin: 0;
    padding: 0;
    font-family: var(--title-font);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

/* Card Image style */

.card-img-top {
    object-fit: cover;
    height: 300px;
}

/* Texte d'information cards */

.card-body .card-text {
    font-weight: 650;
    color: var(--dark-color);
}

/* Titre cards */

.card-body .card-title {
    color: var(--primary-color);
    font-size: 1.4em;
}

/* Bouton primaire turquoise */

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-weight: 650;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

/* Bouton delete */

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    background-color: var(--danger-color);
    color: var(--light-color);
    font-weight: 650;
    border: 2px solid var(--danger-color);
    border-radius: 5px;
}

/* Bouton footer */

.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:focus {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-weight: 650;
    border: 2px solid var(--dark-color);
    border-radius: 5px;
}

/* Hover all buttons */

.btn-primary:hover {
    filter: brightness(110%);
}

.btn-primary:active {
    filter: brightness(90%);
}

.btn-danger:hover {
    filter: brightness(110%);
}

.btn-danger:active {
    filter: brightness(90%);
}

/* Each class for bg and text */

.info-color {
    background-color: var(--primary-color);
}

.color-text-info {
    color: var(--primary-color);
}

.warning-color {
    background-color: var(--warning-color);
}

.color-text-warning {
    color: var(--warning-color);
}

.alert-color {
    background-color: var(--danger-color);
}

.color-text-alert {
    color: var(--danger-color);
}