header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    text-align: center;
}

h1{
    margin-bottom: 5%;
    text-transform: uppercase;
}

section, .to-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.to-section p{
    font-size: 0.8rem;
    margin-bottom: 5%;
    text-align: center;
}

.btn{
    width: 50%;
}


