@import 'style.css';

.eventSection {
  text-align: center;
}

.eventTitle h1 {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: var(--title-font);
}

.eventTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.errorsMessage {
  list-style-type: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--primary-color);
  color: var(--light-color);
  font-weight: 650;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

/* Bouton delete */

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: var(--danger-color);
  color: var(--light-color);
  font-weight: 650;
  border: 2px solid var(--danger-color);
  border-radius: 5px;
}

/* Hover all buttons */

.btn-primary:hover {
  filter: brightness(110%);
}

.btn-primary:active {
  filter: brightness(90%);
}

.btn-danger:hover {
  filter: brightness(110%);
}

.btn-danger:active {
  filter: brightness(90%);
}