header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    display: flex;
    justify-content: end;
    align-items: center;
}

.card-body{
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-title{
    text-transform: uppercase;
}