@import 'style.css';
@import 'admin.css';

main {
    padding: 3em 8em;
}

form {
    margin-top: var(--third-spacing);
    padding: 0 calc(var(--third-spacing) * 12);
}

@media screen and (max-width: 800px) {
    main {
        padding: 1em;
    }

    form {
        margin-top: 0;
        padding: 0;
    }

    .admin-header {
        flex-direction: column;
        margin-bottom: 1em;
    }

    .admin-header h1 {
        font-size: 1.5em;
    }

    .admin-header .btn {
        margin-top: 1em;
        width: 100%;
    }
}