@import 'style.css';

.m-board {
    padding: 3em 8em;
}

@media screen and (max-width: 800px) {
    .m-board {
        padding: 1em;
    }

    .admin-header {
        flex-direction: column;
        margin-bottom: 1em;
    }

    .admin-header h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .admin-header .btn {
        margin-top: 1em;
        width: 100%;
    }

    .admin-footer {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }

    .admin-footer .btn {
        margin-top: 0.7em;
        margin-left: 0;
        width: 100%;
    }
}