@import 'style.css';
@import 'admin.css';

/* Texte d'information cards */

.card-body .card-text {
    font-weight: 400;
    color: var(--dark-color);
}

/* Warning color class bootstrap */

.alerts .card-header, .alerts .card-title {
    font-weight: 700;
}