@import url('https://fonts.googleapis.com/css2?family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    --primary-color: #5eaaa8;
    --secondary-color: #ecb390;
    --danger-color: #ff7979;
    --light-color: #f1ffff;
    --dark-color: #595959;
    --grey-color: #c4c4c4;
    --page-color: #e5e5e5;

    --text-font: 'Open Sans', sans-serif;
    --title-font: 'Simonetta', cursive;
    --title-size: 2.3em;

    --primary-spacing: 8px;
    --secondary-spacing: 16px;
    --third-spacing: 24px;
}

body {
    background-color: var(--page-color);
    font-family: var(--text-font);
    scroll-behavior: smooth;
}

/* ------------------------------------------ */
/* --------------- ADMIN PANEL -------------- */
/* ------------------------------------------ */

/* Admin Header */
.admin-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

/* Style h1 */
h1 {
    margin: 0;
    padding: 0;
    font-family: var(--title-font);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    font-size: var(--title-size);
}

/* Card Image style */
.card-img-top {
    object-fit: cover;
    height: 300px;
}

/* Texte d'information cards */
.card-body .card-text {
    font-weight: 650;
    color: var(--dark-color);
}

/* Div cards buttons */
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.8em 1em 0.8em;
}

.links a {
    width: 50%;
    margin: 0 0.2em;
}

/* Bouton primaire turquoise */
.primary-btn {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-weight: 650;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    transition: ease-in-out 0.6s;
}

.primary-btn:hover {
    background-color: var(--light-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-weight: 650;
    transition: ease-in-out 0.6s;
}

/* Titre cards */
.card-body h5 {
    color: var(--primary-color);
}

/* Bouton delete */
.delete {
    background-color: var(--danger-color);
    color: var(--light-color);
    font-weight: 650;
    border: 2px solid var(--danger-color);
    border-radius: 5px;
    transition: ease-in-out 0.6s;
}

.delete:hover {
    background-color: var(--light-color);
    color: var(--danger-color);
    border: 2px solid var(--danger-color);
    border-radius: 5px;
    font-weight: 650;
    transition: ease-in-out 0.6s;
}

/* Footer pages admin */
.admin-footer {
    display: flex;
    justify-content: center;
    margin-top: calc(var(--third-spacing) * 2);
}

/* Boutons footer pages admin */
.admin-footer .primary-btn {
    margin-left: var(--primary-spacing);
    padding: var(--primary-spacing);
    width: 15%;
}