{% extends "layout.html.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block title %}
	À propos de nous
{% endblock %}

{% block content %}

	<main class="about-main py-xl-5 px-xl-5 py-4 px-3">

		<h1 class="h1 text-center mt-5">À propos de nous</h1>

		<section class="history container py-xl-5 px-xl-5 py-3 px-2">

			<div class="history-content mt-xl-3 mt-2 row">
				<div class="col-12 col-xl-4 mx-xl-3 mx-0">
					<img class="shadow" src="https://images.unsplash.com/flagged/photo-1570286425032-78fa45a1f41a" alt="group of old people">
				</div>
				<div class="col-xl-7 mx-xl-3 mx-0 my-xl-auto my-3">
					<h2 class="h2 text-orange my-lg-3 my-2">Histoire</h2>
					<p class="lead">Il était une fois, un petit village du Loiret situé au sud d'ORLEANS,
						<span class="text-green">Saint Cyr-En-Val</span>.
						<br>
						En
						<span class="text-green">1975</span>, en avance sur leur temps, quelques Saint-Cyriens dynamiques ont l'idée de mettre en place un club pour réunir les retraités, leur permettant de mieux se connaître et d'échapper quelques moments à l'isolement..</p>
				</div>
			</div>

		</section>

		<section class="timline-section mt-lg-5 mt-2">

			<h2 class="h2 text-center text-orange mb-5">45 ans d'histoire</h2>

			<div class="container">
				<div class="main-timeline">

					<div class="timeline">
						<div class="icon"></div>
						<div class="date-content">
							<div class="date-outer">
								<span class="date">
									<span class="year mt-2 text-orange">1976</span>
								</span>
							</div>
						</div>
						<div class="timeline-content">
							<h3 class="h3 text-green title">Une grande union</h3>
							<p class="description">
								Un an plus tard,en 1976, cinq associations des villes de Saint Jean-le-Blanc, Olivet, Saint Denis-En-Val, Mareaux-aux-Prés et Saint Cyr-En-Val se réunissent pour fonder la structure d'échange l'U.D.C.P.A.C.R.L., devenue en 2002.
							</p>
						</div>
					</div>

					<div class="timeline">
						<div class="icon"></div>
						<div class="date-content">
							<div class="date-outer">
								<span class="date">
									<span class="year mt-2 text-orange">2002</span>
								</span>
							</div>
						</div>
						<div class="timeline-content">
							<h3 class="h3 text-green title">Union Départementale des Ainés Ruraux du Loiret</h3>
							<p class="description">
								Devenue en 2002, l'Union Départementale Des Ainés Ruraux Du Loiret", sous la Présidence de Madame Raymonde GARRAULT.
							</p>
						</div>
					</div>

					<div class="timeline">
						<div class="icon"></div>
						<div class="date-content">
							<div class="date-outer">
								<span class="date">
									<span class="year mt-2 text-orange">2014</span>
								</span>
							</div>
						</div>
						<div class="timeline-content">
							<h3 class="h3 text-green title">Un dynamisme perpertuel</h3>
							<p class="description">
								Depuis 2014, l'UDCARL a rejoint "Générations Mouvement".  Tout au long de ces 40 années,Le Temps des Loisirs s'est avéré très dynamique, toujours en croissance grâce aux bénévoles qui se sont dévoués, sous les présidences successives de : Eugène NICOULAUD, Jean-Marie WAHL, Léon BROSSE et Alain NICOULAUD, notre président actuel depuis 15 ans.
							</p>
						</div>
					</div>

				</div>
			</div>

		</section>

	</main>

{% endblock %}
