{% extends "layout.html.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block title %}
	À propos de nous
{% endblock %}

{% block content %}

	<main class="about-main py-xl-5 px-xl-5 py-3 px-3">

		<h1 class="h1 text-center">À propos de nous</h1>

		<section class="timline-section mt-lg-5 mt-2">

			<h2 class="h2 text-center text-orange mb-5">45 ans d'histoire</h2>

			<div class="container">
				<div
					class="main-timeline">

					<div class="timeline">
						<div class="icon"></div>
						<div class="date-content">
							<div class="date-outer">
								<span class="date">
									<span class="year mt-2 text-orange">1976</span>
								</span>
							</div>
						</div>
						<div class="timeline-content">
							<h3 class="h3 text-green title">Une grande union</h3>
							<p class="description">
								Un an plus tard,en 1976, cinq associations des villes de Saint Jean-le-Blanc, Olivet, Saint Denis-En-Val, Mareaux-aux-Prés et Saint Cyr-En-Val se réunissent pour fonder la structure d'échange l'U.D.C.P.A.C.R.L., devenue en 2002.
							</p>
						</div>
					</div>

					<div class="timeline">
						<div class="icon"></div>
						<div class="date-content">
							<div class="date-outer">
								<span class="date">
									<span class="year mt-2 text-orange">2002</span>
								</span>
							</div>
						</div>
						<div class="timeline-content">
							<h3 class="h3 text-green title">Union Départementale des Ainés Ruraux du Loiret</h3>
							<p class="description">
								Devenue en 2002, l'Union Départementale Des Ainés Ruraux Du Loiret", sous la Présidence de Madame Raymonde GARRAULT.
							</p>
						</div>
					</div>

					<div class="timeline">
						<div class="icon"></div>
						<div class="date-content">
							<div class="date-outer">
								<span class="date">
									<span class="year mt-2 text-orange">2014</span>
								</span>
							</div>
						</div>
						<div class="timeline-content">
							<h3 class="h3 text-green title">Un dynamisme perpertuel</h3>
							<p class="description">
								Depuis 2014, l'UDCARL a rejoint "Générations Mouvement".  Tout au long de ces 40 années,Le Temps des Loisirs s'est avéré très dynamique, toujours en croissance grâce aux bénévoles qui se sont dévoués, sous les présidences successives de : Eugène NICOULAUD, Jean-Marie WAHL, Léon BROSSE et Alain NICOULAUD, notre président actuel depuis 15 ans.
							</p>
						</div>
					</div>

				</div>
			</div>

		</section>

	</main>

{% endblock %}
