{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/navbar.css">
{% endblock %}

{% block content %}
<nav class="navbar-nav navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav justify-content-around w-100 p-1">
			<a class="nav-link active" href="#">ACCUEIL ADMIN</a>
			<a class="nav-link active" href="#">ACTIVITES</a>
			<a class="nav-link active" href="#">EVENEMENTS</a>
			<a class="nav-link active" href="#">CONSEIL D'ADMINISTRATION</a>
			<a class="nav-link active" href="#">INFORMATIONS</a>
      </div>
    </div>
  </div>
</nav>
{% endblock %}