{% extends 'layoutAdmin.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}

{% block title %}Ajouter une activité
{% endblock %}

{% block content %}

	<main class="py-lg-5 px-lg-5 py-3 px-3 d-flex justify-content-center flex-column">

        <header class="admin-header d-flex justify-content-lg-between flex-lg-row align-items-lg-center flex-column px-lg-5 mb-lg-5 mb-3">
			<h1 class="text-center h1">Ajouter une activité</h1>
			<a href="/adminActivity/index" class="btn btn-primary mt-3 mt-lg-0">Gérer les activités</a>
		</header>

		{% include 'Admin/Activity/_form.html.twig' %}

	</main>

{% endblock %}
