{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/admin.css">{% endblock %}

{% block content %}

<main class="container d-flex flex-column">
    <h1 class="h1">Modifier {{ activity.name }}</h1>

    {% include 'Admin/Activity/_form.html.twig' with {buttonName: "Modifier l'activité"} %}

</main>
{% endblock %}
