{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/admin.css">{% endblock %}

{% block content %}

<main class="container d-flex flex-column">
    <h1 class="h1">Modifier l'activité: {{ activity.name }}</h1>

    {% include 'Components/_formAdminActivity.html.twig' with {buttonName: "Modifier l'activité"} %}

<main cmass="container">
{% endblock %}
