{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/thanks.css">
{% endblock %}

{% block title %}
	Contact - Validation
{% endblock %}

{% block content %}
	<div class="box-container">
		<h2 class="thanks-message text-center mb-3">Merci {{ firstname }} {{ lastname }}! Votre mail est bien envoyé.</h2>
		<div class="links d-flex justify-content-center align-items-center">
			<a href="/Contact/index" class="btn btn-primary">Retour</a>
		</div>
	</div>
{% endblock %}
